<div class="dashboard">
    <div class="dashboard-content">
        <div class="uploads-number">
            <div class="uploads-data">
                <span>300</span>
                <span>Uploads</span>
            </div>
            <div class="upload-img">
                <img src="/assets/icons/upload-white.png" alt="">
            </div>
        </div>
        <div class="plays-number">
            <div class="plays-data">
                <span>36832</span>
                <span>Plays</span>
            </div>
            <div class="plays-img">
                <img src="/assets/icons/play-white.png" alt="">
            </div>
        </div>
        <button class="upload-button glass-morph">
            Upload
        </button>
        <div class="upload-cards customised-scrollbar">
            <div class="dashboard-uploads glass-morph">Uploads</div>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
            <%-include('./carddashboard.ejs')-%>
        </div>
    </div>
</div>