<div class="stream-container">
    <div class="stream-boxes">
        <div class="song-info glass-morph">
            <img src="/assets/alt-cover.png" alt="" id="thumbnail">
            <span class="song-name">Song Name</span>
            <span class="artist-name">Artist Name</span>
        </div>
        <div class="queue glass-morph">
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
        </div>
        <div class="player glass-morph">
            <div class="buttons">
                <input type="range" name="" id="volume-bar">
                <img src="/assets/next-track.png" alt="" id="next">
                <img src="/assets/play.png" alt="" id="play">
                <img src="/assets/pause.png" alt="" id="pause">
                <img src="/assets/previous-track.png" alt="" id="previous">
                <img src="/assets/randomize.png" alt="" id="randomise">
                <img src="/assets/repeat-button.png" alt="" id="repeat">
            </div>
            <div class="seeker">
                <input type="range" name="" id="seeker-bar">
            </div>
        </div>
    </div>
</div>