<div class="stream-container">
    <div class="stream-boxes">
        <div class="song-info glass-morph">
            <img src="/assets/alt-cover.png" alt="" id="thumbnail">
            <span class="song-name">Song Name</span>
            <span class="artist-name">Artist Name</span>
        </div>
        <div class="queue glass-morph">
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
        </div>
        <div class="player glass-morph">
            <audio  src=<%= songSrc%> id="song"></audio>
            <div class="buttons">
                <input type="range" name="" id="volume-bar" value="100">
                <img src="/assets/icons/previous-track.png" alt="" id="previous">
                <img src="/assets/icons/pause.png" alt="" id="pause" style="display : none;" onclick="playPause(event)">
                <img src="/assets/icons/play.png" alt="" id="play" onclick="playPause(event)">
                <img src="/assets/icons/next-track.png" alt="" id="next">
                <img src="/assets/icons/randomize.png" alt="" id="randomise">
                <img src="/assets/icons/repeat-button.png" alt="" id="repeat">
            </div>
            <div class="seeker">
                <input type="range" name="" id="seeker-bar" value="0" step="0.1">
            </div>
        </div>
    </div>
</div>