<div class="search-container">
    <div class="search-result">
        <span class="glass-morph">Results</span>
        <div class="search-cards">
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
            <%-include('./cardgeneral.ejs')-%>
        </div>
    </div>
</div>